@{
    ViewBag.Title = "About";
}

<div>
    <img class="img-responsive" src="~/Content/Images/NewAboutLogo.png" alt="About Us" style="max-height: 300px; margin-top: 30px; margin-bottom: 30px">
</div>

<div style="border-top:1px dotted; border-color:#81a326; max-width: 720px">
    <h3><i><b>"Connecting volunteers to the causes that need them"</b></i></h3>
    <p>
        HelpOut is a place where community organizations can post information about their service events and connect with eager volunteers who are willing to lend a helping hand.
    </p>
</div>

<div style="border-top:1px dotted; border-color:#81a326; max-width: 720px">
    <h3><b>Want to help out?</b></h3>
    <p>
        Join today and start connecting with the organizations and causes in your community which need your assistance. Joining is fast, simple...and free! Register today, search for the causes nearest to your heart, then RSVP to let them know you'll be joining them in improving your community.
    </p>
</div>

<div style="border-top:1px dotted; border-color:#81a326; max-width: 720px">
    <h3><b>Does your community service event need volunteers?</b></h3>
    <p>
        Create an account for your organization and post your events on HelpOut. Joining is fast, simple...and free! Register today and post your upcoming events so volunteers can find them and RSVP.
    </p>
</div>

<div style="border-top:1px dotted; border-color:#81a326; max-width: 720px">
    <h3><b>About the HelpOut Devleopment Team</b></h3>
    <p>
        HelpOut was created by a group of excited new programmers with a passion for community service. We hope our site can help to improve your community by creating a place where volunteers and organizations can connect<br />
    </p>
</div>