@{
    ViewBag.Title = "Contact";
}
<div>
    <img class="img-responsive" src="~/Content/Images/NewContactLogo.png" alt="Contact Us" style="max-height: 100px; margin-top: 30px">
</div>

<h3>The HelpOut Development Team</h3>
<address>
    Floor 4, The Penthouse<br />
    1570 Woodward Ave<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    313.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@HelpOut.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@HelpOut.com</a>
</address>