@using HelpOut.Models
@using Microsoft.AspNet.Identity

@model ApplicationUser

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HelpOut Skeleton</h1>
    <p class="lead">Hopefully this will look less like shit later</p>
</div>


@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Organization"))
    {
        <h2>Events Created:</h2>

        

        if (Model.EventsCreated.Count > 0)
        {
            <ul>
                @foreach (Event e in Model.EventsCreated)
                {
                <li>@Html.ActionLink(e.Name, "Details", new { controller = "Event", id = e.EventID }) </li>
                }
            </ul>
        }
    }

    else if (User.IsInRole("Volunteer"))
    {
        <h2>Events Attending:</h2>

        if (Model.EventsAttending.Count > 0)
        {
        <ul>
            @foreach (Event e in Model.EventsAttending)
            {
                <li>@Html.ActionLink(e.Name, "Details", new { controller = "Event", id = e.EventID }) </li>
            }
        </ul>
        }
    }
}
@*<div class="col-md-4">
    <h2>Get more libraries</h2>
    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>Web Hosting</h2>
    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
</div>*@
